@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* YOUR CODE HERE: Change the background-color property of the <body> tag to a different color of your choice. */
body {
  background-color: #be2424;
}

.single-poem {
  white-space: pre-line;
}
